<!--START FOOTER-->
<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 mt-4">
          <h4>DORSIN</h4>
          <div class="text-muted mt-4">
            <ul class="list-unstyled footer-list">
              <li><a href="javascript: void(0);">Home</a></li>
              <li><a href="javascript: void(0);">About us</a></li>
              <li><a href="javascript: void(0);">Careers</a></li>
              <li><a href="javascript: void(0);">Contact us</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 mt-4">
          <h4>Information</h4>
          <div class="text-muted mt-4">
            <ul class="list-unstyled footer-list">
              <li><a href="javascript: void(0);">Terms & Condition</a></li>
              <li><a href="javascript: void(0);">About us</a></li>
              <li><a href="javascript: void(0);">Jobs</a></li>
              <li><a href="javascript: void(0);">Bookmarks</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 mt-4">
          <h4>Support</h4>
          <div class="text-muted mt-4">
            <ul class="list-unstyled footer-list">
              <li><a href="">FAQ</a></li>
              <li><a href="">Contact</a></li>
              <li><a href="">Disscusion</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 mt-4">
          <h4>Subscribe</h4>
          <div class="text-muted mt-4">
            <p>In an ideal world this text wouldn’t exist, a client would acknowledge the importance of
              having web copy before the design starts.</p>
          </div>
          <form class="form subscribe">
            <input placeholder="Email" class="form-control" required>
            <a href="javascript: void(0);" class="submit"><i class="pe-7s-paper-plane"></i></a>
          </form>
        </div>
      </div>
    </div>
  </footer>
  <!--END FOOTER-->